body {
  background-color: rgb(26, 26, 26);
}
/*
@media (max-width: 2000px) {
  .grid-buttons {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
  }
}

div > div {
  padding: 10px;
  background-color: #ccc;
}

div {
  padding: 10px;
} */

.ticTacToe {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;

  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: rgba(255, 255, 255, 0.152);
  border: none;
  border-radius: 15px;
  transition: opacity 0.15s;
}

.ticTacToe:hover {
  opacity: 0.8;
}
.ticTacToe:active {
  opacity: 0.5;
}
.play-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.title-background {
  background-color: rgba(34, 34, 34, 0.665);
  padding: 5px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.43);
}
.moveTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;

  text-align: center;
}

.tic-tac-toe-logo {
  width: 300px;
}

.play-button {
  background-color: rgb(66, 177, 66);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  padding: 10px;

  border: none;
  border-radius: 5px;

  text-align: center;
  cursor: pointer;
  transition: opacity 0.15s;
}

.play-button:hover {
  color: white;
  opacity: 0.8;
}

.play-button:active {
  opacity: 0.5;
}

.going-first {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.x-button,
.o-button {
  color: orange;
  font-weight: bold;
  font-size: 50px;
  border: none;
  border-radius: 10px;

  height: 80px;
  width: 80px;
  cursor: pointer;
  margin-right: 10px;
  transition: opacity 0.15s;
}
.o-button {
  color: rgb(0, 166, 255);
}

.x-button:hover,
.o-button:hover {
  opacity: 0.8;
}

.title-screen-container {
  margin-top: 30px;
}
.back-to-title-screen-button {
  background-color: rgb(96, 95, 95);
  color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 5px;

  cursor: pointer;
  transition: opacity 0.15s;
}

.back-to-title-screen-button:hover {
  opacity: 0.8;
}
.grid-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 70px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
}

.back-to-title-screen-background {
  margin-bottom: 15px;
}

.logo-clicker {
  cursor: pointer;
}
